@model Test.Data.Customer;

@{
    string dobValue = Model.DOB.ToString("yyyy-MM-dd");
}

<div>
    <h2 class="text-center">Edit Customer Details</h2>
    <form action="/CustomerAddress/EditCustDetails" method="post">
        <input class="EditCustId" value="@Model.Id" type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label class="mb-2"> Customer Name</label>
            <input type="text" class="name form-control" id="name" asp-for="Name" placeholder="customer name" value="@Model.Name" />
        </div>
        <div class="mb-3">
            <label class="mb-2"> Customer Email</label>
            <input type="email" class="email form-control" id="email" asp-for="Email" placeholder="demo@gmail.com" value="@Model.Email" />
        </div>
        <div class="mb-3">
            <label class="mb-2">Customer DOB</label>            
            <input type="date" class="DOB form-control" id="DOB" asp-for="DOB" value="@dobValue" />
        </div>

        <div class="mb-3">
            <label class="mb-2">Gender :</label>
            <div class="container">
                <div>
                    <input type="radio" name="gender" id="genderMale" value="Male" checked="@((Model.gender == "Male") ? "checked" : null)" asp-for="gender">
                    <label for="genderMale">Male</label>
                </div>
                <div>
                    <input type="radio" name="gender" id="genderFemale" value="Female" checked="@((Model.gender == "Female") ? "checked" : null)" asp-for="gender">
                    <label for="genderFemale">Female</label>
                </div>
                <div>
                    <input type="radio" name="gender" id="genderNotSelected" value="Not Selected" checked="@((Model.gender == "Not Selected") ? "checked" : null)" asp-for="gender">
                    <label for="genderNotSelected">Not Need to Select</label>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" style="float: right;">Save Changes</button>
        </div>
    </form>
</div>